@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family-inter: 'Inter', sans-serif;
  --font-family-instrument-sans: 'Instrument Sans', sans-serif;
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  /* -- */
  --bg-main: #ffffff;
  --color: #737373;
  --input-border: #D9D9D9;
  /* --default-btn-bg:  rgb(99, 60, 255); */
  /* --default-btn-bg:  #633CFF; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var()); */
  /* background: linear-gradient( */
      /* to bottom, */
      /* transparent, */
      /* rgb(var()) */
    /* ) */
    /* rgb(var()); */
    background: var(--bg-main);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
